asgiref==3.11.1
charset-normalizer==3.4.6
Django==4.2.13
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.0
et_xmlfile==2.0.0
gunicorn==21.2.0
openpyxl==3.1.5
packaging==26.0
Pillow==10.1.0
PyJWT==2.12.1
python-decouple==3.8
python-dotenv==1.0.1
pytz==2026.1.post1
reportlab==4.4.10
sqlparse==0.5.5
tzdata==2025.3
